<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>base html-css</title>
        <link rel="stylesheet" href="../arbo-1.0/assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/java.css">
    </head>
    <body>
        <!--HEADER-->
        <header>
            <h1>Bibliotheque</h1>
        </header>
        <!--MAIN CONTENT -->
        <a href="../index.html">Retour a l'accuiel</a>
        <main>
            <h2>Php 7</h2>  
                <div class="livre-js">
                        <section class="chapt-1">
                            <img src="../assets/img/9782212673609_internet_b400x400.jpg" alt="">
                        </section>
                 </div>    
                    <div class="chapt">
                        <h1>chapt-1</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                    </div>
                    <div class="chapt">
                        <h1>chapt-2</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                    </div>
                    <div class="chapt">
                        <h1>chapt-3</h1>
                        <p id="bkgrd-orange">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                    </div>
                    <div class="chapt">
                        <h1>chapt-4</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed adipisci sit fugiat placeat ipsam omnis? Odit harum maxime quas. Cupiditate, saepe! Repellendus error cumque aperiam nesciunt voluptatibus aspernatur culpa.</p>
                </div>
        </main>
    </body>
</html>