@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
}
*:hover{
    transition: all .2s ease;
}
html{
    /* UN SEUL REGLAGE ICI */
    font-size: 62.5%;
}
body{ /* les reglage que en ve sur les paragraphe sur la page 
    => on utilise l'heritage*/
    margin: 0;
    padding: 0;
    font-size: 1.6rem;/*unite relativive = 16px l'unite absolue*/
    line-height: 1.6;/*ici en ne met pas d'unité = la hauteur enter ligne sera
    relative a la font size ici x1.0*/
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
}
/* on passe au class standards du jour */
:root{
    --yellow: #ffc107;
    --green: #92ab1d;
    --white: #fff;
    --gray: #ccc;
    --light: #f8f9fa;
   --dark: #343a40;
}
.container{
    margin: auto;
}
header{
    background-image: url(../img/header.jpg);
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Pacifico', cursive;
    margin: auto;
    color: var(--white);
    font-size: 4em;
    text-shadow: 5px 5px black;
    padding-top: 50px;
}

.globe{
    display: flex;
    justify-content: space-around;
}

h2{
    font-family: 'Pacifico', cursive;
}
.h2-bouton h2{
    color: var(--green);
}
.h2-background-flex h2 span{
    color:  var(--green) ;
}