*{
    box-sizing: border-box;
    text-decoration: none;
}
*:hover{
    transition: all .2s ease;
}
html{
    /* UN SEUL REGLAGE ICI */
    font-size: 62.5%;
}
body{ /* les reglage que en ve sur les paragraphe sur la page 
    => on utilise l'heritage*/
    margin: 0;
    padding: 10px;
    font-size: 1.6rem;/*unite relativive = 16px l'unite absolue*/
    line-height: 1.6;/*ici en ne met pas d'unité = la hauteur enter ligne sera
    relative a la font size ici x1.0*/
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
}
.div-1{
    margin: 5px;
    background-color: blue;
    height: 200px;
    width: 15%;
    border-radius: 20%;
    border: solid;
    text-align: center;
}
.div-2{
    background-color: purple;
    height: 200px;
    width: 15%;
    border-radius: 20%;
    border: solid;
    text-align: center;
}
.d-flex{
    display: flex;
}
/* on passe au class standards du jour */