<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/profil.css">
</head>
<body>
    <header>
        <div class="d-flex-header">
            <h1><span>SEMANTIK</span> FOR YOU</h1>
            <nav>
                <ul>
                    <li> <a href="../index.html"> Home</a></li>
                    <li> <a href="../views/contact.html"> Generic</a></li>
                    <li><a href="../views/profil.html">Element</a></li>
                </ul>
            </nav>
        </div>    
        <hr>
    </header>
    <div class="top-position">
        <main>
            <div class="container">
                <div class="element-1">
                    <h2>ELEMENT</h2>
                    <p>LOREM IPSUM DOLOR SIT AMET NULLAM ID EGESRA URNA ALIQUAM AMET NULLAM ID EGESRA</p>
                </div>     
                <div class="p-span">
                    <h3>TEXT</h3>
                    <div class="d-flex-pre-p">
                        <p>
                            This is <span>bold </span> and this is <span>strong</span>. This is <span>italic</span>  and this is emphasized. This is <span>superscript </span> text and this is <span>subscript</span>  text. This is <span> underlined</span> and this is code: <span>  for (;;){ ... }</span> . Finally, this is a <a href="#">Link</a> 
                        
                        </p>
                    </div>
                </div>  
                <hr>    
                    <h2>HEADING WITH A UBTITLE</h2>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque atque quisquam eius maxime ea beatae, culpa assumenda doloribus, unde dolorem recusandae earum eaque rem sunt quidem! Doloremque commodi ducimus similique!</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
                        Heading with a Subtitle</p>
                    <h3>HEADING WITH A UBTITLE</h3>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque atque quisquam eius maxime ea beatae, culpa assumenda doloribus, unde dolorem recusandae earum eaque rem sunt quidem! Doloremque commodi ducimus similique!</h4>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
                        Heading with a Subtitle</p>
                <hr>    
                    <h2>HEADING LEVEL 2</h2>
                    <h3>HEADING LEVEL 3</h3>
                    <h4>HEADING LEVEL 4</h4>
                    <h5>HEADING LEVEL 5</h5>
                    <h6>HEADING LEVEL 6</h6>
                <hr>    
                    <h2>BLOCKQUOTE</h2>
                    <div class="d-flex-ligne">
                        <div class="ligne"></div>
                        <p> Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</p>
                    </div>
                    <h2>PERFORMATER</h2>
                    <pre>    i = 0;
    while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
    }              

    print 'It took ' + i + ' iterations to sort the deck.';
                    </pre>
                    <div class="list-ord">
                        <div class="list">
                            <h2>LIST</h2>
                            <nav>
                                <ul>
                                    <li>Dolor pulvinar etiam magna etiam.</li>
                                    <li>Sagittis adipiscing lorem eleifend.</li>
                                    <li>Felis enim feugiat dolore viverra.</li>
                                </ul>
                            </nav>
                        </div>    
                        <div class="list">
                        <h2>ORDERED</h2>
                            <nav>
                                <ul id="number">
                                    <li>Dolor pulvinar etiam magna etiam.</li>
                                    <li>Sagittis adipiscing lorem eleifend.</li>
                                    <li>Felis enim feugiat dolore viverra.</li>
                                    <li>Felis enim feugiat dolore viverra.</li>
                                    <li>Felis enim feugiat dolore viverra.</li>
                                    <li>Felis enim feugiat dolore viverra.</li>
                                </ul>
                            </nav>
                        </div>  
                    <div class="alter-icon">
                        <div class="alternate">
                            <h2>Alternate</h2>    
                            <p>Dolor pulvinar etiam magna etiam.</p>
                            <hr>
                            <p> Sagittis adipiscing lorem eleifend.</p>
                            <hr>
                            <p> Felis enim feugiat dolore viverra.</p>
                       </div>
                       <div class="icon">
                           <h2>ICON</h2>
                           <div class="i-flex">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-github"></i>
                            </div>
                       </div>
                    </div>
                 </div>   
                 <h2>ACTIONS</h2>
                 <div class="d-flex-button">
                    <button class="button-main ">SPECIAL</button>
                    <div class="button-black">DEFAULT</div>
                    <div class="button-white">ALTERNATIVE</div>
                 </div>
                 <div class="d-flex-button">
                    <div  class="button-small-main">SMALL</div>
                    <div class="button-small-black">SMALL</div>
                    <div class="button-small-white">SMALL</div>
                 </div>
                 <div class="main-button-flex">
                    <div class="d-fex-button-main">
                        <div class="button-main">SPECIAL</div>
                        <div class="button-black">DEFAULT</div>
                        <div class="button-white">ALTERNATIVE</div>
                    </div>
                    <div class="d-fex-button-main">
                        <div  class="button-small-main">SMALL</div>
                        <div class="button-small-black">SMALL</div>
                        <div class="button-small-white">SMALL</div>
                    </div>
                    <div class="d-fex-button-main">
                        <div  class="button-fit-main">SMALL</div>
                        <div class="button-fit-black">SMALL</div>
                        <div class="button-fit-white">SMALL</div>
                    </div>
                    <div class="main-button-flex">
                        <div class="d-fex-button-main">
                            <div class="button-main">SPECIAL</div>
                            <div class="button-black">DEFAULT</div>
                            <div class="button-white">ALTERNATIVE</div>
                        </div>
                 </div>
                 
            </div>  
            <h2>TABLE</h2>
            <h3>DEFAULT</h3>
            
            <table class="container-table">
                <thead>
                        <th><h2>NAME</h2></th>
                        <th><h2>PRIVE</h2></th>
                        <th><h2>DESCRIPTION</h2></th>
                </thead>
                <tbody>
                    <tr>
                        <td>ITEM 1</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td>ITEM 2</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td>ITEM 3</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                <tr>
                        <td>ITEM 4</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>

                    </tr>
                <tr>
                        <td>ITEM 5</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>33£</td>
                    </tr>
                </tbody>
            </table>
            <h3>ALTERNATIVE</h3>
            <table class="container-table">
                <thead>
                        <th><h2>NAME</h2></th>
                        <th><h2>PRIVE</h2></th>
                        <th><h2>DESCRIPTION</h2></th>
                </thead>
                <tbody>
                    <tr>
                        <td>ITEM 1</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td>ITEM 2</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td>ITEM 3</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                <tr>
                        <td>ITEM 4</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>

                    </tr>
                <tr>
                        <td>ITEM 5</td>
                        <td>Ante turpis integer aliquet porttitor</td>
                        <td>33£</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>33£</td>
                    </tr>
                </tbody>
            </table>
            <h2>BUTTONS</h2>
            <div class="d-flex-button">
                <div class="button-main">SPECIAL</div>
                <div class="button-black">DEFAULT</div>
                <div class="button-white">ALTERNATIVE</div>
             </div>
             <div class="d-flex-button">
                <div class="button-main-big">SPECIAL</div>
                <div class="button-black">DEFAULT</div>
                <div class="button-small-white">ALTERNATIVE</div>
             </div>
             <div class="d-flex-button">
                <div class="button-fit-black">SMALL</div>
                <div class="button-fit-white">SMALL</div>
                <div class="button-fit-black-heigh">SMALL</div>
                <div class="button-fit-white-heigh">SMALL</div>
             </div>
             <div class="d-flex-button">
                <div  class="button-small-main">
                    <div class="d-flex-button-icon">
                        <i class="fab fa-playstation"></i>
                        <h3>ICON</h3>
                    </div>
                </div>
                <div class="button-small-black">
                    <div class="d-flex-button-icon">
                        <i class="fab fa-playstation"></i>
                        <h3>ICON</h3>
                    </div>
                </div>
                <div class="button-small-white-play">
                    <div class="d-flex-button-icon">
                        <i class="fab fa-playstation"></i>
                        <h3>ICON</h3>
                    </div>
                </div>
                
            </div>
                <div class="d-flex-button">
                    <div class="button-gray">SPECIAL</div>
                    <div class="button-gray">DEFAULT</div>
                    <div class="button-gray-color">ALTERNATIVE</div>
                </div>
            <h2>FORM</h2>    
            <form action="#">
                <label for="fname"></label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname"></label>
                <input type="email" id="lname" name="mail" placeholder="Your Email">
                <br>
                <select name="category" id="category">
                    <option value="">--Category--</option>
                    <option value="salut">salut</option>
                    <option value="ok">ok</option>
                    <option value="aurevoir">aurevoir</option>
                </select>
                <br>
                <div class="d-flex-checker">
                    <div class="checker">
                        <input type="radio" name="my-input" id="yes">
                        <label for="yes">Oui</label> 
                    </div>
                    <div class="checker">
                        <input type="radio" name="my-input" id="yes">
                        <label for="yes">Oui</label>
                </div>
                <div class="checker">
                        <input type="radio" name="my-input" id="no">
                        <label for="no">Non</label>
                    </div>
                </div>
                <div class="checker-d-flex">
                    <div class="checker-box">
                        <input type="checkbox" name="my-checkbox" id="opt-in">
                        <label for="opt-in">Cochez-moi !</label>
                    </div>
                    <div class="checker-box">
                        <input type="checkbox" name="my-checkbox" id="opt-in">
                        <label for="opt-in" >Cochez-moi !</label>
                    </div>    
                </div>
                <textarea id="story" name="story">
                It was a dark and stormy night...
                </textarea>
            </form>
            <div class="d-flex-button">
                <div class="button-main">SPECIAL</div>
                <div class="button-black">DEFAULT</div>
            </div>
             <hr>
             <h2>IMAGE</h2>
             <h3>FIT</h3>
             <div class="d-flex-main-pic"></div>
             <div class="d-flex-pic">
                    <img src="../assets/img/pic/pic02.jpg" alt="pic02">
                    <img src="../assets/img/pic/pic03.jpg" alt="pic03">
                    <img src="../assets/img/pic/pic02.jpg" alt="pic02">
             </div>
             <div class="d-flex-pic">
                <img src="../assets/img/pic/pic03.jpg" alt="pic03">
                <img src="../assets/img/pic/pic02.jpg" alt="pic02">
                <img src="../assets/img/pic/pic03.jpg" alt="pic02">
            </div>
            <div class="d-flex-pic">
                <img src="../assets/img/pic/pic02.jpg" alt="pic03">
               <img src="../assets/img/pic/pic03.jpg" alt="pic02">
               <img src="../assets/img/pic/pic02.jpg" alt="pic02">
           </div>
           <h2>LEFT & RIGHT</h2>
           <div class="left-image">
               <img  src="../assets/img/pic/pic04.jpg" alt="belle-vue">
               <p>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
           </div>
           <div class="right-image">
                <img  src="../assets/img/pic/pic05.jpg" alt="belle-vue">
                <p>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
            </div>
        </div>    
        </main>
        <footer>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <p>&copy;Learn to code   |   image Unsplach</p>
        </footer>
    <script src="https://kit.fontawesome.com/414fde3f6f.js" crossorigin="anonymous"></script>
</body>
</html>