*{
    box-sizing: border-box;
}
*:hover{
    transition: all .2s ease;
}
html{
    /* UN SEUL REGLAGE ICI */
    font-size: 62.5%;
}
body{ /* les reglage que en ve sur les paragraphe sur la page 
    => on utilise l'heritage*/
    margin: 0;
    padding: 0;
    font-size: 1.6rem;/*unite relativive = 16px l'unite absolue*/
    line-height: 1.6;/*ici en ne met pas d'unité = la hauteur enter ligne sera
    relative a la font size ici x1.0*/
    font-family: sans-serif;
}

/* on passe au class standards du jour */
span{
    font-weight: 900;
}

.clear{
    clear: both;
}
#arial{
    font-family: Arial;
}
#tomato{
    color: tomato;
}
#aquarine{
    color: aquamarine;
}
#goldenrod{
    color: goldenrod;
}
#cursive {
    list-style: none;
    font-family: cursive;
}
#rouge{
    background-color: #ff6347;
}
#bleu{
    background-color: #7effd4;
}
#vert{
    background-color: #daa520;
}
.with{
    margin: auto;
    width: 65%;
}